{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <h1 class="text-center">Add New Story</h1>
    <hr>
    {% if user.is_authenticated %}
        <div class="raw d-flex justify-content-center">
            <form method="post" action="{% url 'destination create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_field form.title %}
                {% bootstrap_field form.description %}
                {% bootstrap_field form.country %}
                {% bootstrap_field form.year %}
                {% bootstrap_field form.image %}
                {% buttons %}
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    {% else %}
        <h5 class="text-center font-italic">Please sing up or sign in if you have a profile already,</h5>
        <h5 class="text-center font-italic">to add new story.</h5>
        <div class="col text-center">
            <a href="{% url 'signup user' %}" class="btn btn-outline-secondary">Sign Up</a> / <a
                href="{% url 'signin user' %}" class="btn btn-outline-secondary">Sign In</a>
        </div>
    {% endif %}

{% endblock %}