{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <h1 class="text-center">All Travel Stories</h1>
    <hr>
    {% if user.is_authenticated %}
        {% if destinations %}
            <div class="container-fluid" style="width: 90%">
                <div class="row">
                    {% for dest in destinations %}
                        <div class="col-lg-4 d-flex align-items-stretch">
                            <div class="card m-3">
                                <img src="{{ dest.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dest.title }}</h5>
                                    <p class="card-text">{{ dest.country }}, {{ dest.year }}</p>
                                </div>
                                <div class="card-img-bottom" style="margin-left: 10px">
                                    <a href="{% url 'destination details' dest.id %}" class="btn btn-outline-secondary">View
                                        Details</a>
                                    <p>Created by <a href="{% url 'user profile' dest.user.id %}">{{ dest.user.username }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <blockquote class="blockquote col text-center">
                <p class="mb-0 font-italic">Never let you memories be greater than your dreams.</p>
                <footer class="blockquote-footer"><cite title="Source Title">Douglas Ivester</cite></footer>
            </blockquote>
        {% else %}
            <h3 class="text-center font-italic">There are no stories yet. Be the first one to share!</h3>
            <div class="col text-center">
                <a href="{% url 'destination create' %}" class="btn btn-outline-secondary">Create</a>
            </div>
            <hr>
            <blockquote class="blockquote col text-center">
                <p class="mb-0 font-italic">Never let you memories be greater than your dreams.</p>
                <footer class="blockquote-footer"><cite title="Source Title">Douglas Ivester</cite></footer>
            </blockquote>
        {% endif %}
    {% else %}
        <h5 class="text-center font-italic">Please sing up or sign in if you have a profile already,</h5>
        <h5 class="text-center font-italic">to view all travel stories.</h5>
        <div class="col text-center">
            <a href="{% url 'signup user' %}" class="btn btn-outline-secondary">Sign Up</a> / <a
                href="{% url 'signin user' %}" class="btn btn-outline-secondary">Sign In</a>
        </div>
    {% endif %}
{% endblock %}