{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <div class="text-center">
        <h1>Hi, {{ user.username }}!</h1>
        {% if profile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_image.url }}"
                 alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3"
                 src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                 alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <a href="{% url 'edit profile' %}">View/Edit your profile</a>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <h1>These are your travel stories:</h1>
        <div class="container-fluid" style="width: 90%">
            <div class="row">
                {% if destinations %}
                    {% for dest in destinations %}
                        <div class="col-lg-4 d-flex align-items-stretch">
                            <div class="card m-3">
                                <img src="{{ dest.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body" style="text-align: left">
                                    <h5 class="card-title">{{ dest.title }}</h5>
                                    <p class="card-text">{{ dest.country }}, {{ dest.year }}</p>
                                    <a href="{% url 'destination details' dest.id %}"
                                       class="btn btn-outline-secondary pull-left">View
                                        Details</a>
                                    <a href="{% url 'destination delete' dest.id %}"
                                       class="btn btn-outline-danger pull-right">Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container-fluid" style="width: 90%">
                    <h2 class="text-center font-italic">You have no stories yet. Create your first one below!</h2>
                    <div class="col text-center">
                        <a href="{% url 'destination create' %}" class="btn btn-outline-secondary">Create</a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
{% endblock %}