{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <div class="text-center">
        <h1>Hi, {{ user.username }}!</h1>
        {% if user.userprofile.profile_image %}
            <img class="rounded-circle mb-3" src="{{ user.userprofile.profile_image.url }}"
                 alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3"
                 src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                 alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% endif %}
        <hr>
        <div class="raw d-flex justify-content-center">
            <form method="post" action="{% url 'view profile' %}" class="furniture-form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_field user_form.username %}
            {% bootstrap_field profile_form.first_name %}
            {% bootstrap_field profile_form.last_name %}
            {% bootstrap_field profile_form.about_me %}
        <div class="col text-center">
            <a href="{% url 'view profile' %}" class="btn btn-outline-secondary">Edit</a>
        </div>

{% endblock %}