{% extends 'shared/base.html' %}
{% block content %}
    {% load bootstrap4 %}
    <h1 class="text-center">Sign In</h1>
    <div class="raw d-flex justify-content-center">
        <form method="post" class="post" action="{% url 'signin user' %}">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-secondary">Sign In</button>
            {% endbuttons %}
            <span class="font-italic font-weight-light"> Don't have an account?<a href="{% url 'signup user' %}" style="color:darkblue"> Sign up here</a></span>
        </form>
    </div>
{% endblock %}
